@font-face
  font-family 'Roman Rustica'
  src url('https://dl.dropboxusercontent.com/u/7449985/fonts/Roman-Rustica.ttf')

body
  background #ffe
  color #222

p
  font-family serif

.hand-written
  font-family 'Roman Rustica'
.inscription
  font-family 'Cinzel'

.evolving-header
  font-size 1.25em

.evolving-header li .comment
  background wheat
  box-shadow 3px 3px 6px rgba(0, 0, 0, 0.35)
  padding 0.5em
  font-size 0.8em
  margin-right 1em
