doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= "Latin: A Personal Voyage"
    link(rel="stylesheet" href="index.css")
    link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type="text/css")
  body
    ol.evolving-header
      // CONSIDER: A phrase with J & U in it, to get a chance to mention that they don't exist yet (perhaps also a W-sound).
      // TODO: Write in https://en.wikipedia.org/wiki/Roman_cursive first

      li
        p.hand-written DICOSALVE
        p.comment.
           These are <mark>Rustic capitalis</mark>, the likes you might find in
           (fairly well written?) papyrus from ? BCE -- ? CE (in Roman
           aristocracy / high society(?)).
        // TODO: Add photo of rustic writing

      li
        p.hand-written DICO·SALVE
        p.comment.
          Let’s add a word divider; an <mark>interpunct</mark>.<br>
          Common in classical Latin, but fell out of use ~200 CE.

      li
        p.hand-written DICO SALVE
        p.comment.
          <mark>Spaces</mark> was used by students in learning (to differentiate
          words?), but was <mark>considered childish</mark>.

      li
        p.inscription DICO·SALVE
        p.comment.
          Inscriptions often used <mark>Roman square capitals</mark>.<br>
          See: inscriptions on Pantheon &amp; Trajan's Column.
        // TODO: Add photo of an inscription
          
      li
        p Dico Salve
        p.comment Lower case wasn't around for more than 1 000 years...          

      li
        p Dico: “Salve!”
        p.comment Colon, quotation marks &amp; exclamatn mark, ...also new.

      li
        p Dīcō: “Salvē!”
        p.comment While we are at it; macrons showsus where to put the stress.

    section
      p TODO: Go on to describe etymology / cognates to make the actual words understandable.
