doctype html
html(lang="en")
  head
    title= "Latin: A Personal Voyage"
    link(rel="stylesheet" href="index.css")
    link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type="text/css")
  body
    ol.evolving-header
      //
        CONSIDER: A phrase with J & U in it, to get a chance to mention that
        they don't exist yet (perhaps also a W-sound).
      // TODO Write in https://en.wikipedia.org/wiki/Roman_cursive first
      
      li
        p.hand-written DICOSALVE
        p.comment These are <mark>Rustic capitalis</mark>, the likes you might find in (fairly well written?) papyrus from ? BCE -- ? CE (in Roman aristocracy / high society(?)).
      
    script(src="script.js")
