doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Latin: A Personal Voyage
    link(href="index.css" rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  body

    include evolving-header.jade
  
    section
      //- p TODO: Go on to describe etymology / cognates to make the actual words understandable.


//
  Describe how "J" & "U" doesn't exist yet (& what that means / meant)
    + History of "W".
