doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Latin: A Personal Voyage
    link(href="index.css" rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type="text/css")
  body

    include evolving-header.jade
  
    section
      p TODO: Go on to describe etymology / cognates to make the actual words understandable.
